{% extends 'store/layouts/main2.html' %}
{% block content %}
{% load static %}

<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>My Orders</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page title area -->

<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card-show">
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Shipping Details</h4>
                            <hr>
                            <label class="mt-2">First Name</label>
                            <div class="border p-1">{{order.fname}}</div>
                            <label class="mt-2">Last Name</label>
                            <div class="border p-1">{{order.lname}}</div>
                            <label class="mt-2">Email</label>
                            <div class="border p-1">{{order.email}}</div>
                            <label class="mt-2">Phone</label>
                            <div class="border p-1">{{order.phone}}</div>
                            <label class="mt-2">Address</label>
                            <div class="border p-1">
                                {{order.city}}
                                {{order.state}}
                                {{order.country}}
                            </div>
                            <label class="mt-2">Pincode</label>
                            <div class="border p-1">{{order.pincode}}</div>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Image</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%for item in orderitems%}
                                <tr>
                                    <td>{{item.product.name}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.price}}</td>
                                    
                                    <td>
                                        <img src="{{item.product.product_image.url}}" height= '50px' width= '50px' alt="">
                                    </td>
        
                                </tr>
                                {%endfor%}
                                </tbody>
                            </table>
                            <h3>Grand Total: <span class="float-end">{{order.total_price}}</span></h3>
                            <h4 class= "border p-2">Payment Mode:{{order.paymont_mode}}</h4>
                            <h4 class= "border p-2">Order Status:{{order.status}}</h4>
                            <h4 class= "border p-2">Tracking No:{{order.tracking_no}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}